// wideescreen

@include mediaXl {
    .projects{
        grid-template-columns: repeat(4, 1fr);
    }
}

//desktop & lapotop
@include mediaLg {
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}

//tablet
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 5rem;
            text-align: center;
        }
    }

    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
        margin-top: 0;
        
    }

    .menu-branding{
        height: 30vh;
        transform: translate3d(100%,0,0);

        .portrait{
            background: url('../img/profile.jpg');
            background-size: cover;
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;

        ul{
            text-align: left;
        }
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    .boxes{
        font-size: 20px;
    }
}

//HP
@include mediaSm {
    main#home h1{
        margin-top:10vh;
        padding: 0;
        text-align: center;
        align-items: center;
       
    }

    .projects{
        grid-template-columns: repeat(1fr);
    }
}